#galleryContainer{
    display: grid;

    /*Grid styling*/

    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto auto ;

    row-gap: 1em;
    column-gap: 1em;
    margin: 2em;

}
.galleryObj{
    width: 100%;

}

/* column 1 */

#img3{
    /* Colts2009.JPG */
    grid-column: 1 / span 1;
    grid-row: 1/ span 2 ; 
}

#img7{
    /* Tubing2021.JPG */
    grid-column: 1 / span 1;
    grid-row: 3/ span 2; 
}

#img8{
    /* Rings.JPG */
    grid-column: 1 / span 1;
    grid-row: 5/ span 1;
}

/* column 2 */

#img1{
    /* Babysitting2002.JPG */
    grid-column: 2 / span 1;
    grid-row: 3/ span 1;
}

#img2{
    /* firstWilloway.JPG */
    grid-column: 2 / span 1;
    grid-row: 1/ span 1; 
}
#img5{
    /* Cleanup2021.jpg */
    grid-column: 2 / span 1;
    grid-row: 2/ span 1; 
}
#img4{
    /* westQuad.jpeg */
    grid-column: 2 / span 1;
    grid-row: 4/ span 1;
    
}

#img9{
    /* FFchampionship2022.jpeg */
    grid-column: 2 / span 1;
    grid-row: 5/ span 1;
}



#img6{
    /* Lifeguard2021.jpeg */
    grid-column: 2 / span 1;
    grid-row: 2/ span 1; 
}



@media screen and (min-width:600px) {
    #galleryContainer{
        display: grid;
    
        /*Grid styling*/
    
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto auto auto ;
    
        row-gap: 1em;
        column-gap: 1em;
        margin: 2em;
    
    }

    /* column 1 */

#img3{
    /* Colts2009.JPG */
    grid-column: 1 / span 1;
    grid-row: 1/ span 2 ; 
}
#img1{
    /* Babysitting2002.JPG */
    grid-column: 1 / span 1;
    grid-row: 4/ span 1;
}

#img2{
    /* firstWilloway.JPG */
    grid-column: 1 / span 1;
    grid-row: 5/ span 1; 
}


/* column 2 */
#img7{
    /* Tubing2021.JPG */
    grid-column: 2 / span 1;
    grid-row: 1/ span 2; 
}

#img6{
    /* Lifeguard2021.jpeg */
    grid-column: 2 / span 1;
    grid-row: 4/ span 1; 
}



#img5{
    /* Cleanup2021.jpg */
    grid-column: 2 / span 1;
    grid-row: 5/ span 1; 
}

/*column 3*/


#img8{
    /* Rings.JPG */
    grid-column: 3 / span 1;
    grid-row: 1/ span 2;
}


#img4{
    /* westQuad.jpeg */
    grid-column: 3 / span 1;
    grid-row: 4/ span 1;
    
}

#img9{
    /* FFchampionship2022.jpeg */
    grid-column: 3 / span 1;
    grid-row: 5/ span 1;
}

}
@media screen and (min-width:800px) {
    #galleryContainer{
        display: grid;
    
        /*Grid styling*/
    
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
    
        row-gap: 1em;
        column-gap: 1em;
        
    
        margin: 2em;
    }
.galleryObj{
    width: 100%;
    height: auto;
}

/* column 1 */
#img1{
    /* Babysitting2002.JPG */
    grid-column: 1 / span 1;
    grid-row: 3/ span 1;
}

#img3{
    /* Colts2009.JPG */
    grid-column: 1 / span 1;
    grid-row: 1/ span 3 ; 
}


/* column 2 */

#img2{
    /* firstWilloway.JPG */
    grid-column: 2 / span 1;
    grid-row: 1/ span 1; 
}
#img5{
    /* Cleanup2021.jpg */
    grid-column: 2 / span 1;
    grid-row: 2/ span 1; 
}
#img4{
    /* westQuad.jpeg */
    grid-column: 2 / span 1;
    grid-row: 3/ span 1;
    
}


/* column 3 */

#img9{
    /* FFchampionship2022.jpeg */
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}
#img8{
    /* Rings.JPG */
    grid-column: 3 / span 1;
    grid-row: 1/ span 2;
}


/* column 4 */

#img7{
    /* Tubing2021.JPG */
    grid-column: 4 / span 1;
    grid-row: 1/ span 2; 
}
#img6{
    /* Lifeguard2021.jpeg */
    grid-column: 4 / span 1;
    grid-row: 3/ span 1; 
}

}


/* , #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img8, #img9*/