/*body styling*/
body{
    background-color: #cfcfc4; /* http://pastel-gray.colorcode.is/ */
}


/*link css*/

nav .active{
    font-size: 64px;
    color: black;
}
a, a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}


/* Nav styling*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter:blur(50px);
}
 nav{
    color: black ;
 }


footer .perInfo:hover{
    text-decoration: underline;
}



/* footer css*/
footer{
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    height: 100px;
}
footer #oneF{
    display: flex;
    flex-flow: column;
}
footer #twoF{
    display: flex;
}
#initials{
    height: 100px;
}

